* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

:root{
    --primary-background-color: #0e0e0e;
    --primary-text-color: #ededed;
    --button-background-color: #468f4a;
    --button-text-color: #e8e6e6;

    /* Padding Variables */
    --navbar-padding: 15px 30px;
    --section-padding: 20px 40px;
    --padding-s:5px;
    --padding-m:10px;
    --padding-l:15px;
    --padding-xl:20px;
    --padding-xxl:30px;

    /* Border Radius Variables */
    --border-radius-s: 5px;
    --border-radius-m: 10px;
    --border-radius-l: 15px;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

nav{
    padding: var(--navbar-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button{
    padding: var(--padding-m) var(--padding-l);
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    outline: none;
    border-radius: var(--border-radius-m);
    cursor: pointer;
}